<div class="col-md-4">
    <div class="grid simple">
        <div class="grid-title no-border">
            <h4>Enviar
                <span class="semi-bold">Notificacion</span>
            </h4>

        </div>
        <div class="grid-body no-border">
            <div class="row">
                <div class="col-md-12">
                    <h3>Seleccionar
                        <span class="semi-bold">Destinatario(s)</span>
                    </h3>
                    <br>
                    <div class="select2-container select2-container-multi" id="s2id_multi" style="width:100%">
                        <ul class="select2-choices">
                            <li class="select2-search-choice">
                                <div>Jim</div>
                                <a tabindex="-1" class="select2-search-choice-close" onclick="return false;" href="#"></a>
                            </li>
                            <li class="select2-search-choice">
                                <div>Lucy</div>
                                <a tabindex="-1" class="select2-search-choice-close" onclick="return false;" href="#"></a>
                            </li>
                            <li class="select2-search-field">
                                <input type="text" class="select2-input" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" id="s2id_autogen2" style="width: 32px;">
                            </li>
                        </ul>
                    </div>
                    <select multiple="" style="width:100%" id="multi" tabindex="-1" class="select2-offscreen">
                        <option value="Jim">Jim</option>
                        <option value="John">John</option>
                        <option value="Lucy">Lucy</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
