<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="grid simple vertical green">
            <div class="grid-title no-border">
                <h4>Crear
                    <span class="semi-bold">Usuario</span>
                </h4>

            </div>
            <div class="grid-body no-border">
                <br>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="form-label">Nombre</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Alias</label>
                            <div class="controls">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Correo Electronico</label>
                            <div class="controls">
                                <input type="text" class="form-control" placeholder="example@example.com">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Contraseña</label>
                            <div class="controls">
                                <input type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Confirmar Contraseña</label>
                            <div class="controls">
                                <input type="password" class="form-control">
                            </div>
                        </div>


                        <button class="btn btn-primary btn-cons pull-right" type="button"><i class="fa fa-check"></i>&nbsp;Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

   


</div>
