<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">

        <div class="grid simple horizontal green">
            
            <div class="grid-title">
                <h4 class="text-info">{{formInformation.action}}
                    <span class="semi-bold">{{formInformation.resource}}</span>
                </h4>

            </div>
            
            <div class="grid-body">

                <form role="form" name="taskForm" ng-submit="submitForm(taskForm.$valid)" novalidate>
                    <!-- FORM-BODY -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-6">
                            <!-- Nombre -->
                            <div class="form-group" ng-class="{'has-error' : taskForm.nombre.$invalid && !taskForm.nombre.$pristine}">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" class="form-control" ng-model="task.nombre" required>
                                <p ng-show="taskForm.nombre.$invalid && !taskForm.nombre.$pristine" class="help-block">Este campo es obligatorio.</p>
                            </div>
                            <!-- Direccion -->
                            <div class="form-group" ng-class="{'has-error' : taskForm.direccion.$invalid && !taskForm.direccion.$pristine}">
                                <label for="direccion">Dirección</label>
                                <input type="text" name="direccion" class="form-control" ng-model="task.direccion" required>
                                <p ng-show="taskForm.direccion.$invalid && !taskForm.direccion.$pristine" class="help-block">Este campo es obligatorio.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-6">
                            <!-- Email -->
                            <div class="form-group" ng-class="{'has-error': taskForm.email.$invalid && !taskForm.email.$pristine}">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" ng-model="task.email" required>
                                <p ng-show="taskForm.email.$invalid && !taskForm.email.$pristine" class="help-block">Ingresa un Email con un formato valido.</p>
                                <p ng-show="taskForm.email.$invalid && !taskForm.email.$pristine" class="help-block"> Este campo es obligatorio.</p>
                            </div>
                            <!-- Cantidad -->
                            <div class="form-group" ng-class="{'has-error' : taskForm.cantidad.$invalid && !taskForm.cantidad.$pristine}">
                                <label for="cantidad">Cantidad</label>
                                <input type="text" name="cantidad" class="form-control" ng-model="task.cantidad" required>
                                <p ng-show="taskForm.cantidad.$invalid && !taskForm.cantidad.$pristine">Este campo es obligatorio.</p>
                            </div>
                        </div>
                    </div>

                    <!-- FORM-FOOTER -->
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-7 col-md-5 col-md-offset-7 col-xs-5 col-xs-offset-7">
                            
                            <!-- SUBMIT -->
                            <button class="btn btn-success btn-cons pull-right" type="submit" ng-disabled="taskForm.$invalid">
                                <i class="fa fa-check"></i>
                                Agregar
                            </button>
                            
                            <!-- CANCELAR -->
                            <button class="btn btn-danger btn-cons pull-right" type="button">
                                <i class="fa fa-times-circle"></i>
                                Cancelar
                            </button>

                        </div>
                    </div>

                </form>
            </div><!-- Grid body -->

        </div>


    </div>
</div>
